.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

.env

node_modules
.sass-cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace